html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-fluid {
    padding: 0px;
    height: 100%;
    width: 100%;
}

#map {
    bottom:0px;
    height: 100%;
    right: 250px;
    position: absolute;
    left: 0px;
}

.sites-view {
    background: #fff;
    border: 1px solid #999;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 300px;
    right: 0px;
    z-index: 1000;
    position: absolute;
    overflow-y: scroll;
}

.panel {
    width: 80px;
    float: left;
    height: 100vh;
    position: absolute;
    right: 0px;
    z-index: 1000;
    background-color: grey;
}

td {
    font-size: 12px;
}